<html>
    <head>
        <title>mblwonok</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Приветес, креветес!</a></h1>
       {% for post in posts %}
             <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
            {% endfor %}
            <p>published: 13.10.2025, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Как-то раз на скамейке у дома престарелых сидели три старухи.Когда мимо проходил дедок, одна из них сказала ему:
                - Спорим, что мы можем точно угадать, сколько тебе лет?
                - Да никогда в жизни не угадаете, старые курицы! - ответил дед.
                - Запросто, - сказала одна из бабулек.- Ты только опусти брюки и подштанники, и мы сможем определить твой возраст.
Дед поначалу засмущался, но желание выиграть спор взяло верх, и он опустил штаны. Старухи попросили его несколько раз повернуться и
несколько раз подпрыгнуть. Затем они угомонились и сказали:
- Тебе 87 лет.
- Ядрена вошь! Как вы угадали?
Старухи рассмеялись и ответили:
- А мы вчера у тебя на дне рождения были</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>стоят две зубочистки в лесу, ну стоят, что-то пиздят там о своем пиздят, хуяк мимо них еж пролетает, блять, одна зубочистка другой говорит нихуя себе, а я не знал что здесь автобусы ходят..</p>
        </div>
    </body>
</html>