{% load static %}
<html>
    <head>
        <title>mblwonok</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">>
    </head>
    .page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
    <body>
    body {
    padding-left: 24px;
}
    <div class="page-header">
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

        <div>

            <h1><a href="/">Приветес, креветес!</a></h1>
       <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>Опубликовано: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
            <p>published: 13.10.2025, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Как-то раз на скамейке у дома престарелых сидели три старухи.Когда мимо проходил дедок, одна из них сказала ему:
                - Спорим, что мы можем точно угадать, сколько тебе лет?
                - Да никогда в жизни не угадаете, старые курицы! - ответил дед.
                - Запросто, - сказала одна из бабулек.- Ты только опусти брюки и подштанники, и мы сможем определить твой возраст.
Дед поначалу засмущался, но желание выиграть спор взяло верх, и он опустил штаны. Старухи попросили его несколько раз повернуться и
несколько раз подпрыгнуть. Затем они угомонились и сказали:
- Тебе 87 лет.
- Ядрена вошь! Как вы угадали?
Старухи рассмеялись и ответили:
- А мы вчера у тебя на дне рождения были</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>стоят две зубочистки в лесу, ну стоят, что-то пиздят там о своем пиздят, хуяк мимо них еж пролетает, блять, одна зубочистка другой говорит нихуя себе, а я не знал что здесь автобусы ходят..</p>
        </div>
    </body>
</html>