{% extends 'blog/base.html' %}
{% block content %}

  <!-- ТВОЙ СТАТИЧЕСКИЙ ТЕКСТ -->
  <article class="post">
    <h1><a href="/">Приветес, креветес!</a></h1>
    <div class="date">published: 13.10.2025, 12:14</div>
    <p>
      Как-то раз на скамейке у дома престарелых сидели три старухи...
        Когда мимо проходил дедок, одна из них сказала ему:
        - Спорим, что мы можем точно угадать, сколько тебе лет?
        - Да никогда в жизни не угадаете, старые курицы! - ответил дед.
        - Запросто, - сказала одна из бабулек - ты только опусти брюки и подштанники, и мы сможем определить твой возраст.
        Дед поначалу засмущался, но желание выиграть спор взяло верх, и он опустил штаны. Старухи попросили его несколько раз повернуться и несколько раз подпрыгнуть. Затем они угомонились и сказали:
        - Тебе 87 лет.
        - Ядрена вошь! Как вы угадали?
        Старухи рассмеялись и ответили:
        - А мы вчера у тебя на дне рождения были

    </p>
  </article>

  {% for post in posts %}
    <article class="post">
      <div class="date">
        Опубликовано: {{ post.published_date|date:"d.m.Y, H:i" }}
      </div>
      <h1><a href="">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
  {% endfor %}

{% endblock %}
